<html> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<title>SaidditLoginpage</title> 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/loginpage.css') }}"> 
</head> 
 
<body> 

<div class="wrap"> 
  <form action="/login" method="post"> 
    <section class="loginForm">
      <header> 
        <h1>Please login</h1>
      </header>
      <div class="loginForm_content"> 
      
        <fieldset> 

          <div class="inputWrap"> 
            <input type="text" name="username" placeholder="Username" value="{{
          request.form.username }}"> 
          </div> 
          <div class="inputWrap"> 
            <input type="password" name="password" placeholder="Password" value="{{
          request.form.password }}"> 
          </div> 
        </fieldset> 
        <fieldset> 
          <input type="submit" value="submit"> 
   
        </fieldset> 
        <fieldset>
         {% if error %}
 		 <p style="color:red">{{ error }}</p>
		 {% endif %}
	    </fieldset>
      </div> 
      
    </section> 
  </form> 
</div> 
</body> 
</html> 
