<html> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=gb2312"> 
<title>SaidditLoginpage</title> 
<link rel="stylesheet" type="text/css" href="loginpage.css"> 
</head> 
 
<body> 

<div class="wrap"> 
  <form action="/signin" method="post"> 
    <section class="loginForm"> 
      <header> 
        <h1>Login</h1> 
      </header> 
      
      <div class="loginForm_content"> 
      
        <fieldset> 

          <div class="inputWrap"> 
            <input type="text" name="username" placeholder="Username" value="{{
          request.form.username }}"> 
          </div> 
          <div class="inputWrap"> 
            <input type="password" name="password" placeholder="Password" value="{{
          request.form.password }}"> 
          </div> 
        </fieldset> 
        <fieldset> 
          <input type="submit" value="submit"> 
   
        </fieldset> 
        <fieldset>
         {% if message %}
 		 <p style="color:red">{{ message }}</p>
		 {% endif %}
	    </fieldset>
      </div> 
      
    </section> 
  </form> 
</div> 
</body> 
</html> 
